<main class="main">
  <div>
    <h1>Orders</h1>
    <input type="text" #searchTerm placeholder="Search by customer or status">
    <button (click)="search(searchTerm.value)">Search</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Address</th>
          <th>Amount</th>
          <th>City</th>
          <th>Country</th>
          <th>Date</th>
          <th>Deleted</th>
          <th>Last Modified</th>
          <th>Postcode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>{{order.customer}}</td>
          <td>{{order.status}}</td>
          <td>{{order.address1}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.city}}</td>
          <td>{{order.country}}</td>
          <td>{{order.date}}</td>
          <td>{{order.deleted}}</td>
          <td>{{order.lastModified}}</td>
          <td>{{order.postcode}}</td>
          <td><button (click)="cancelOrder(order.id)">Cancelar</button></td>
        </tr>
      </tbody>
    </table>
    <button (click)="previousPage()">Página anterior</button>
    <button (click)="nextPage()">Próxima página</button>
  </div>
</main>